@import url(https://fonts.googleapis.com/css?family=Audiowide);

body {
    background-color: lightgray;
}

h1 {
    color: brown;
    font-size: 40px;
}

#paragraph {
    color: blueviolet;
    text-decoration: underline;
    font-family: "calibri";
}


/* used on the paragraphs */
.intro {
    color: #666;
    font-size: 40px;
    font-family: "calibri";
}

.webdev-image {  /*<!-- this is for bigger screens */
    display: block;
    margin: 20px auto 20px auto;
    max-width: 50%; /*this will only take 50% of the width of the screen */

}

@media only screen and (max-width: 600px) {
    .webdev-image { 
        max-width: 100%;
        margin: 10px auto;
    }
}

.whitecolor {
    color: white;
}

.redColor {
    color: white;
}

/* apply advent pro font to all headings*/

h1, h2, h3, h4, h5, h6 {
    font-family: "calibri";
    font-size: 40px;
    color: white;
}

p {
    color: white;
    font-size: 40px;
    font-family: "calibri";
}

.example {
    font-size: 25px;
    font-family: "calibri";
    background-color: lightgreen;
    border: 1px solid #999;
    padding: 60px;
    margin: 10px;
}

.snapchat-image {
    border: 5px solid yellow;
    text-align: center;
    display: block;
    margin: 50px auto;
    border-radius: 20px;
    width: 50%;
}

.snapchat-image:hover {
    border: 5px solid yellow;
    border-radius: 20px;
    box-shadow: 5px 8px 60px  grey;

}

.text-shadow {
    text-shadow: 1px 1px 4px grey;

}

.text-center {
    text-align: center;
}

.bg-image {
    background-image: url(./Images/building.jpg) ;
    background-size: cover;
    background-position: center;
    text-align: center;
    text-shadow: 2px 5px 10px black;;
    margin: 50px auto;
    padding: 250px 0px;
    /* color: white; */
}

.bg-image h2 {
    color: white;
    font-size: 60px;
    text-transform: uppercase;
}

.parallax {
    /* color: white; */
    height: 50vh;
    background-image: url(./Images/waves.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;  
}

.parallex-content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    /* color: white; */
    padding: 50px;
    font-size: 100px;
    font-family: "calibri";
}